#add-task {
    margin-top: .5%;
}

#my-board {
    text-align: center;
}

.modal-window {
    padding: 20px;
}

/* icon for closing opening message window */
#alert_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#quote-of-the-day {
    
}

/*START styles for congratulations message */
#congratHeader {
    width: 250px;
    height: 250px;
}

#congratMsg {
 margin: 5px 5px 5px 5px;
}

#apiMsg {
    margin: 15px 5px 5px 5px;
   }
/*END styles for congratulations message */