#add-task {
    margin-top: .5%;
}

#my-board {
    text-align: center;
}

.modal-window {
    padding: 20px;
}

/*styles for congratulations message */
#congratHeader {
    width: 250px;
    height: 250px;
}

#congratMsg {
 margin: 5px 5px 5px 5px;
}

#apiMsg {
    margin: 15px 5px 5px 5px;
   }

